################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Trollveggen/obj/Debug
*.suo
/Trollveggen/bin/Debug/Trollveggen.dll
/Trollveggen/bin/Debug/Trollveggen.pdb
/Trollveggen/bin/Debug/Trollveggen.pri
